/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.header {
  background: #F55A5A;
  color: #fff;
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  border-bottom: 1px solid #F5F5F5;
  padding: 20px 0;
}
.card__left{
  width: 30%;
}
.heading {
  display: flex;
  align-items: center;
}
.heading img {
  height: 20px;
}
.location {
  display: flex;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}
.heading a {
 margin-left: 10px;
 color: #918E9B;
}